#
####### requirements.txt #######
#
# Run: pip install -r requirements.txt

# For building Jupyter notebooks
jupyter
jupyter-book

# For printing charts and graphs
matplotlib
numpy
plotly
scipy

# For printing data tables
pandas

# For data analysis
scikit-learn

# For reading and manipulating images
Pillow

# For downloading assets from remote URLs
requests

# For reading and manipulating audio files
pydub

# For printing progress
tqdm

# For generating wordclouds
wordcloud

# For parsing XML and HTML
beautifulsoup4

# For reading, parsing PDFs
pypdf

# For reading AWS s3 buckets
boto3